@charset "UTF-8";

.Comment{
	margin-top: 20px; /* 필요 시 간격 조정 */
    padding: 10px;

}


.CommentTable{
	text-align: center;
	 border: 1px solid #dddddd;
}

.CommentList{
	display: block;
}

.CommentMain{

	height: 30px;
	width: 400px;
	
}

#wrap{
	display: flex;
	flex-direction: column;
}

.CommentWrite{
	display: flex;
	justify-content: center;
}

td{
	border-bottom:none;
}