@charset "UTF-8";

.Comment{

   margin-top: 20px; /* 필요 시 간격 조정 */

	margin-top: 20px; /* 필요 시 간격 조정 */
    padding: 10px;

}


.CommentTable{
   text-align: center;
    border: 1px solid #dddddd;
   border-collapse: collapse;
}

.CommentList{
   display: block;
	display: block;
}

.CommentMain{

   height: 30px;
   width: 400px;
   
	height: 30px;
	width: 400px;
	
}

#wrap{
   display: flex;
   flex-direction: column;
}

.CommentWrite{
   
	display: flex;
	justify-content: center;
}

td{
   border-bottom:none;
    padding: 8px;
    border: 1px solid #ccc;

}

#all{
	display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

fieldset{
	border-radius: 20px;
	border: 3px solid #00421f;
	margin-top: 20px;
}