@charset "UTF-8";	

footer {
  /* footer를 aside위에 올리기 위해 사용(부유객체) */
   /*   height: 60px; */
    width: 100%;
    text-align: center;
    line-height:20px;
    color: white;
    border-top: 1px solid #dee5e7; /* 상단 테두리 설정 */
    background-color: rgb(20, 24, 39); /* 배경색 설정 */
    list-style: none;
    
}
