@charset "UTF-8";	
footer {
  /* footer를 aside위에 올리기 위해 사용(부유객체) */
      /* height: 60px; */
    width: 100%;
    padding: 0 25px;
    line-height: 20px;
    color: white;
    border-top: 1px solid #dee5e7;
    background-color: rgb(20, 24, 39);
    position: absolute;
    top: 525px;
    left: 0;
}
