.u-section-1 .u-sheet-1 {
  min-height: 819px;
}

.u-section-1 .u-image-1 {
  height: auto;
  background-image: url("images/aefdc7c2-7926-55aa-428a-470c85d10907.png");
  width: 565px;
  margin: 0 297px 0 278px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  height: auto;
  width: 296px;
  min-height: 130px;
  margin: 3px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-right: 7px;
  padding-left: 7px;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  margin: 13px auto 0;
}

.u-section-1 .u-table-1 {
  width: 93px;
  height: 36px;
  margin: 13px 17px 0 173px;
}

.u-block-1267-313 {
  height: 46px;
}

.u-block-1267-314 {
  padding: 0;
}

.u-section-1 .u-table-cell-1 {
  font-size: 0.875rem;
  padding: 0;
}

.u-block-1267-318 {
  height: 46px;
}

.u-block-1267-319 {
  padding: 0;
}

.u-section-1 .u-table-2 {
  width: 93px;
  margin: -36px auto 0 17px;
}

.u-block-1267-327 {
  height: 46px;
}

.u-block-1267-328 {
  padding: 0;
}

.u-section-1 .u-table-cell-2 {
  font-size: 0.875rem;
  padding: 0;
}

.u-block-1267-332 {
  height: 46px;
}

.u-block-1267-333 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 0.625rem;
  width: 50px;
  margin: -26px auto 0;
}

.u-section-1 .u-table-3 {
  width: 249px;
  margin: 20px auto 0;
}

.u-block-1267-192 {
  height: 46px;
}

.u-block-1267-193 {
  padding: 0;
}

.u-block-1267-194 {
  padding: 0;
}

.u-block-1267-195 {
  padding: 0;
}

.u-section-1 .u-table-cell-3 {
  font-size: 0.75rem;
  margin: 0 296px 0 0;
  padding: 0;
}

.u-section-1 .u-table-cell-4 {
  font-size: 0.75rem;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-table-cell-5 {
  font-size: 0.75rem;
  margin: 0 0 0 296px;
  padding: 0;
}

.u-block-1267-201 {
  height: 46px;
}

.u-block-1267-202 {
  padding: 0;
}

.u-block-1267-203 {
  padding: 0;
}

.u-block-1267-204 {
  padding: 0;
}

.u-section-1 .u-group-3 {
  height: auto;
  width: 843px;
  margin: -131px 297px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 35px 1px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 30px auto 0;
}

.u-section-1 .u-form-1 {
  height: 67px;
  width: 678px;
  margin: 22px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 0.75rem;
}

.u-section-1 .u-table-4 {
  margin-top: 17px;
  margin-bottom: 0;
}

.u-block-1267-70 {
  padding-top: 10px;
}

.u-block-1267-71 {
  padding-top: 10px;
}

.u-block-1267-72 {
  padding-top: 10px;
}

.u-block-1267-73 {
  padding-top: 10px;
}

.u-block-1267-249 {
  padding-top: 10px;
}

.u-section-1 .u-table-body-4 {
  font-size: 0.625rem;
  line-height: 1.1;
}

.u-section-1 .u-table-cell-6 {
  background-image: none;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-7 {
  background-image: none;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-8 {
  background-image: none;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-9 {
  background-image: none;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-10 {
  background-image: none;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-11 {
  line-height: 0.4;
  background-image: none;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-12 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-13 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-14 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-15 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-16 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-17 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-18 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-19 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-20 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-21 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-22 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-23 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-24 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-25 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-26 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-27 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-28 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-29 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-30 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-31 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-32 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-33 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-34 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-35 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-36 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-37 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-38 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-39 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-40 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-41 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-42 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-43 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-44 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-45 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-46 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-47 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-48 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-49 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-50 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-51 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-52 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-53 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-54 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-section-1 .u-table-cell-55 {
  line-height: 0.4;
  font-size: 0.75rem;
  padding-top: 10px;
}

.u-block-1267-97 {
  padding-top: 10px;
}

.u-block-1267-98 {
  padding-top: 10px;
}

.u-block-1267-99 {
  padding-top: 10px;
}

.u-block-1267-100 {
  padding-top: 10px;
}

.u-block-1267-280 {
  padding-top: 10px;
}

.u-section-1 .u-group-4 {
  height: auto;
  margin: 6px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 15px;
  padding-right: 15px;
}

.u-section-1 .u-image-2 {
  width: 36px;
  height: 36px;
  --radius: 10px;
  margin: 7px 0 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 0.625rem;
  margin: -26px 69px 0;
}

.u-section-1 .u-group-5 {
  width: 296px;
  height: auto;
  background-image: none;
  min-height: 202px;
  margin: -203px 0 0 auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  font-weight: 400;
  margin: 25px auto 0;
}

.u-section-1 .u-image-3 {
  width: 226px;
  height: 108px;
  --radius: 10px;
  margin: 17px 35px 0;
}

.u-section-1 .u-group-6 {
  width: 296px;
  height: auto;
  background-image: none;
  min-height: 361px;
  margin: -573px 0 60px auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 14px;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  font-weight: 400;
  margin: 6px 102px 0;
}

.u-section-1 .u-text-7 {
  font-size: 0.875rem;
  margin: 19px 212px 0 0;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  font-size: 0.625rem;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: none;
  margin: 26px auto 0 4px;
  padding: 3px 17px 4px;
}

.u-section-1 .u-btn-3 {
  --radius: 50px;
  font-size: 0.625rem;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: none;
  margin: -24px auto 0 72px;
  padding: 3px 17px 4px;
}

.u-section-1 .u-btn-4 {
  --radius: 50px;
  font-size: 0.625rem;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: none;
  margin: -24px auto 0 140px;
  padding: 3px 17px 4px;
}

.u-section-1 .u-btn-5 {
  --radius: 50px;
  font-size: 0.625rem;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: none;
  margin: -24px auto 0 208px;
  padding: 3px 17px 4px;
}

.u-section-1 .u-btn-6 {
  --radius: 50px;
  font-size: 0.625rem;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: none;
  margin: 11px auto 0 4px;
  padding: 3px 17px 4px;
}

.u-section-1 .u-btn-7 {
  --radius: 50px;
  font-size: 0.625rem;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: none;
  margin: -24px auto 0 72px;
  padding: 3px 17px 4px;
}

.u-section-1 .u-btn-8 {
  --radius: 50px;
  font-size: 0.625rem;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: none;
  margin: -24px auto 0 140px;
  padding: 3px 17px 4px;
}

.u-section-1 .u-btn-9 {
  --radius: 50px;
  font-size: 0.625rem;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: none;
  margin: -24px auto 0 208px;
  padding: 3px 17px 4px;
}

.u-section-1 .u-text-8 {
  font-size: 0.875rem;
  margin: 40px 204px 0 0;
}

.u-section-1 .u-video-1 {
  height: 116px;
  margin: 12px 0 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1078px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 178px;
    margin-right: 197px;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    margin-right: 100px;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    width: 80px;
  }

  .u-section-1 .u-text-2 {
    width: 55px;
  }

  .u-section-1 .u-table-3 {
    margin-left: 16px;
  }

  .u-section-1 .u-table-cell-3 {
    margin-right: 279px;
  }

  .u-section-1 .u-table-cell-5 {
    margin-left: 279px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 20px;
    margin-right: 97px;
    margin-left: 72px;
    height: auto;
  }

  .u-section-1 .u-group-4 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: -32px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 744px;
    height: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-group-6 {
    margin-right: 50px;
    margin-left: 744px;
    height: auto;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 10px;
  }

  .u-section-1 .u-text-8 {
    width: 98px;
    margin-right: 170px;
  }

  .u-section-1 .u-video-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: 68px;
    margin-right: 87px;
  }

  .u-section-1 .u-table-cell-3 {
    margin-right: 200px;
  }

  .u-section-1 .u-table-cell-5 {
    margin-left: 200px;
  }

  .u-section-1 .u-group-3 {
    width: 750px;
    margin-right: -140px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 233px;
    margin-left: 12px;
  }

  .u-section-1 .u-group-5 {
    margin-right: -60px;
    margin-left: auto;
  }

  .u-section-1 .u-group-6 {
    margin-right: -60px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1202px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-3 {
    margin-right: -410px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-5 {
    margin-right: -150px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 10px;
  }

  .u-section-1 .u-group-6 {
    margin-right: -150px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 105px;
    margin-left: 105px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 218px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 331px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2059px;
  }

  .u-section-1 .u-image-1 {
    background-position: 54.17% 50%;
    width: 440px;
    min-height: 252px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-1 .u-group-2 {
    min-height: 142px;
    margin-top: 29px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 14px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 17px;
    margin-right: 41px;
    margin-left: auto;
  }

  .u-section-1 .u-table-2 {
    margin-left: 41px;
  }

  .u-section-1 .u-text-2 {
    width: 11px;
  }

  .u-section-1 .u-table-3 {
    margin-top: 22px;
    margin-left: 41px;
    margin-right: 41px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
    min-height: 752px;
    margin-top: 31px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-top: 10px;
  }

  .u-section-1 .u-form-1 {
    height: 197px;
    width: 320px;
    margin-top: 18px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-table-4 {
    margin-top: 20px;
  }

  .u-section-1 .u-table-cell-6 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-table-cell-7 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-table-cell-8 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-table-cell-9 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-table-cell-10 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-table-cell-11 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-12 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-13 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-14 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-15 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-16 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-17 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-18 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-19 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-20 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-21 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-22 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-23 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-24 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-25 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-26 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-27 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-28 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-29 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-30 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-31 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-32 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-33 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-34 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-35 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-36 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-37 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-38 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-39 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-40 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-41 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-42 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-43 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-44 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-45 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-46 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-47 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-48 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-49 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-50 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-51 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-52 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-53 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-54 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-table-cell-55 {
    font-size: 0.5rem;
  }

  .u-section-1 .u-group-4 {
    margin-top: 2px;
    min-height: 54px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-image-2 {
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-right: 3px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -21px;
    margin-right: 54px;
    margin-left: 1px;
  }

  .u-section-1 .u-group-5 {
    min-height: 247px;
    margin-top: 457px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.875rem;
    width: auto;
    font-weight: 700;
    margin-top: 17px;
  }

  .u-section-1 .u-image-3 {
    width: 270px;
    height: 138px;
    margin-top: 31px;
    margin-left: 35px;
  }

  .u-section-1 .u-group-6 {
    min-height: 397px;
    margin-top: -675px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 23px;
    margin-right: 233px;
    margin-left: 30px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 13px;
    margin-right: 234px;
    margin-left: 30px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 98px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 166px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 234px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 30px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 98px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 166px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 234px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 57px;
    margin-right: 240px;
    margin-left: 30px;
  }

  .u-section-1 .u-video-1 {
    height: 102px;
    width: 260px;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .embed-responsive-1 {
    width: 100%;
    left: 0%;
    height: 455%;
    top: -178%;
  }
}.team_notice_board {
}
.team_area {
}