<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baseballtalk.database.BoardMapper">

	<insert id="insertNoticeBoard">
	
		INSERT INTO tbl_notice
    (notice_title, 
    notice_content, 
    notice_views, 
    mem_id, 
    notice_category, 
    created_at)
VALUES
    (#{notice_title}, 
    #{notice_content}, 
    0, 
    #{mem_id}, 
    #{notice_category}, 
    sysdate)
	
	</insert>

	<insert id="insertFreeBoard">
	
		INSERT INTO tbl_freeboard
    (board_title, 
    board_content, 
    created_at, 
    board_views, 
    board_likes, 
    board_file, 
    mem_id)
VALUES
    (#{board_title}, 
    #{board_content}, 
    sysdate, 
    0, 
    0, 
    #{board_file}, 
    #{mem_id})
	
	</insert>
	
	<insert id="insertTeamBoard">
	
		INSERT INTO tbl_team_board
    (team_idx, 
    board_category, 
    board_title, 
    board_content, 
    created_at, 
    board_views, 
    board_likes, 
    board_file, 
    mem_id)
VALUES
    (#{team_idx}, 
    #{board_category}, 
    #{board_title}, 
    #{board_content}, 
    sysdate, 
    0, 
    0, 
    #{board_file}, 
    #{mem_id})
	
	</insert>
	
	<update id="updateNoticeBoard" parameterType = "NoticeBoard">
	
		update tbl_notice set notice_category=#{category}, notice_title=#{title}, notice_content=#{content}  where mem_id=#{writer} and notice_idx=#{borad_Num}
	
	</update>

	<update id="updateFreeBoard" parameterType = "FreeBoard">
	
		update tbl_freeboard set board_title=#{title}, board_content=#{content}, board_file=#{filename}  where board_idx =#{boardNum} and mem_id=#{writer}
	
	</update>

	<update id="updateTeamBoard" parameterType = "TeamBoard">
	
		update tbl_team_board set board_title=#{title}, board_content=#{content}, board_file=#{filename}  where board_idx =#{boardNum} and mem_id=#{writer}
	
	</update>

	<delete id="deleteNoticeBoard">
	
		delete from tbl_notice where mem_id=#{writer} and notice_idx=#{boardNum} and notice_title=#{title}
	
	</delete>
	
	<delete id="deleteFreeBoard">
	
		delete from tbl_freeboard where mem_id=#{writer} and board_idx=#{boardNum} and board_title=#{title}
	
	</delete>
	
	<delete id="deleteTeamBoard">
	
		delete from tbl_team_board where mem_id=#{writer} and team_idx=#{teamNum} and board_idx=#{boardNum} and board_title=#{title}
	
	</delete>
	
	<select id="selectTeamBoard" resultType="TeamBoard">
	 	<![CDATA[
			select * from tbl_team_board where rownum<=10 ORDER by board_likes DESC
		]]>
	</select>
	
	<select id="showNoticeBoard" resultType="NoticeBoard">
	select * from tbl_notice
 	</select>
 	
 	<select id="showFreeBoard" resultType="FreeBoard">
	select * from tbl_freeboard
 	</select>
 	
 	<select id="showKiaBoard" resultType="TeamBoard">
	select * from tbl_team_board where team_idx = 1 order by created_at desc
 	</select>
 	
 	<select id="showLgBoard" resultType="TeamBoard">
	select * from tbl_team_board where team_idx = 2 order by created_at desc
 	</select>
 	
 	<select id="showSamsungBoard" resultType="TeamBoard">
	select * from tbl_team_board where team_idx = 3 order by created_at desc
 	</select>
 	
 	<select id="showDoosanBoard" resultType="TeamBoard">
	select * from tbl_team_board where team_idx = 4 order by created_at desc
 	</select>
 	
 	<select id="showSsgBoard" resultType="TeamBoard">
	select * from tbl_team_board where team_idx = 5 order by created_at desc
 	</select>
 	
 	<select id="showNcBoard" resultType="TeamBoard">
	select * from tbl_team_board where team_idx = 6 order by created_at desc
 	</select>
 	
 	<select id="showHanwhaBoard" resultType="TeamBoard">
	select * from tbl_team_board where team_idx = 7 order by created_at desc
 	</select>
 	
 	<select id="showLotteBoard" resultType="TeamBoard">
	select * from tbl_team_board where team_idx = 8 order by created_at desc
 	</select>
 	
 	<select id="showKtBoard" resultType="TeamBoard">
	select * from tbl_team_board where team_idx = 9 order by created_at desc
 	</select>
 	
 	<select id="showKiwoomBoard" resultType="TeamBoard">
	select * from tbl_team_board where team_idx = 10 order by created_at desc
 	</select>
 	
 	<select id="NoticeBoardDetail" resultType = "NoticeBoard">
 	select * from tbl_notice where notice_idx = #{notice_idx}
 	</select>
 	
 	<select id="FreeBoardDetail" resultType = "FreeBoard">
 	select * from tbl_freeboard where board_idx = #{board_idx}
 	</select>
 	
 	<select id="TeamBoardDetail" resultType = "TeamBoard">
 	select * from tbl_team_board where board_idx = #{board_idx}
 	</select>
 	
 	<select id="myteamBoard" parameterType="String" resultType="TeamBoard">
 		select * from tbl_team_board where mem_id = #{mem_id} order by created_at desc
 	</select>
 	
 	<select id="myfreeBoard" parameterType="String" resultType="FreeBoard">
 		select * from tbl_freeboard where mem_id = #{mem_id} order by created_at desc
 	</select>
 	
 	
</mapper>