<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baseballtalk.database.CommentMapper">


	<insert id="insertRecoredComment" parameterType="RecoredComment">
	
		INSERT INTO tbl_recored_comment
    (rcmt_content,
    created_at, 
    mem_id)
VALUES
    (#{rcmt_content},
    sysdate, 
    #{mem_id})
	
	</insert>
	
	<insert id="insertFreeBoardComment" parameterType="FreeBoardComment">
	
		INSERT INTO tbl_freeboard_comment
    (board_idx, 
    cmt_content, 
    created_at, 
    mem_id)
VALUES
    (#{board_idx}, 
    #{cmt_content}, 
    sysdate, 
    #{mem_id})
	
	</insert>
	
	<insert id="insertTeamBoardComment" parameterType="TeamBoardComment">
	
		INSERT INTO tbl_team_comment
    (board_idx, 
    cmt_content, 
    created_at, 
    mem_id)
VALUES
    (#{board_idx}, 
    #{cmt_content}, 
    sysdate, 
    #{mem_id})
	
	</insert>
	
	
	<update id="updateRecoredComment" parameterType = "RecoredComment">
	
		update tbl_recored_comment set rcmt_content=#{rcmt_content} where rcmt_idx =#{rcmt_idx} and mem_id=#{mem_id}
	
	</update>
	
	<update id="updateFreeBoardComment" parameterType = "FreeBoardComment">
	
		update tbl_freeboard_comment set cmt_content=#{cmt_content} where cmt_idx =#{cmt_idx} and mem_id=#{mem_id}
	
	</update>

	<update id="updateTeamBoardComment" parameterType = "TeamBoardComment">
	
		update tbl_team_comment set cmt_content=#{cmt_content} where cmt_idx =#{cmt_idx} and mem_id=#{mem_id}
	
	</update>
	
	
	<delete id="deleteRecoredBoardComment" parameterType = "RecoredComment">
	
		delete from tbl_recored_comment where mem_id=#{mem_id} and rcmt_idx=#{rcmt_idx}
	
	</delete>

	<delete id="deleteFreeBoardComment" parameterType = "FreeBoardComment">
	
		delete from tbl_freeboard_comment where mem_id=#{mem_id} and cmt_idx=#{cmt_idx}
	
	</delete>
	
	<delete id="deleteTeamBoardComment" parameterType = "TeamBoardComment">
	
		delete from tbl_team_comment where mem_id=#{mem_id} and cmt_idx=#{cmt_idx}
	
	</delete>
	
	<select id="showRecoredComment" resultType = "RecoredComment">
		select * from tbl_recored_comment order by created_at desc
	</select>
	
	<select id="showFreeBoardComment" resultType = "FreeBoardComment">
		select * from tbl_freeboard_comment order by created_at desc
	</select>
	
	<select id="showTeamBoardComment" resultType = "TeamBoardComment">
		select * from tbl_team_comment order by created_at desc
	</select>
 
</mapper>