<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baseballtalk.database.MatchMapper">

	 <select id="match" resultType="com.baseballtalk.model.Match">
	 	select * from tbl_match_schedule
	 </select>

</mapper>