<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baseballtalk.database.MatchMapper">

	 <select id="match" resultType="Match">
	 	select * from tbl_match_schedule
	 </select>
	
	<select id="matchtime" parameterType="int" resultType = "String">
	select concat(concat(concat(substr(match_date,1,2),'-'),substr(match_date,4,2)),concat(' ',match_time)) as match_time
	from tbl_match_schedule where away_team = (select team_name from tbl_team where team_idx = 1) or home_team = (select team_name from tbl_team where team_idx = 1)
	</select>
	
	<select id="match_my" resultType="Match">
	 	select * from tbl_match_schedule where away_team = (select team_name from tbl_team where team_idx = #{team_idx}) or 
	 	home_team = (select team_name from tbl_team where team_idx = #{team_idx})
	 </select>
	
</mapper>