<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baseballtalk.database.MemberMapper">

  	<insert id="join" parameterType="Member">
  		insert into tbl_member values(#{mem_id}, #{mem_pw}, #{mem_name}, #{mem_tel},SYSDATE , #{mem_nick}, 'rookie', 0, #{team_idx})
  	</insert>
  	
  	<select id="nickCheck" parameterType="String" resultType="boolean">
  		select case when count(*)>0 then 1
  			else 0
  			end result
  		from tbl_member where mem_nick=#{input_nick}
  	</select>
  	
  	<select id="login" resultType="Member">
	select * from tbl_member where mem_id = #{mem_id} and mem_pw = #{mem_pw}
	</select>
	
	<select id="kakaologin" resultType="Member">
	select * from tbl_member where mem_id = #{mem_id} and mem_pw is null
	</select>
  	
  	<update id="kakaoupdate" parameterType = "Member">
  		update tbl_member set mem_nick = #{mem_nick} where mem_id = #{mem_id}
  	</update>
 
  	<select id="serchPw" parameterType="Member" resultType = "Member">
  		select mem_pw from tbl_member where mem_id = #{mem_id} and mem_name = #{mem_name} and mem_phone = #{mem_tel}
  	</select>
  	
  	<delete id="removemember" parameterType="Member">
  		delete from tbl_member where mem_id = #{mem_id} and mem_pw = #{mem_pw}
  	</delete>
  	
 
</mapper>